body {
    font-family: 'Lato', sans-serif;
}

.react-root {
}

.container {
    /*margin: 2em auto 0;*/
    /*padding: 1.5em;*/

    /*width: 70%;*/
    /*height: 70%;*/
    /*border-radius: .5em;*/
    /*box-shadow: 0 2px 0 rgba(0,0,0,.1);*/
}

.intro-image {
    /*width: 70%;*/
    max-width: 100%;
    height: auto;
    align-content: center;
}

@media (min-width: 768px) {
    .container {
        /*width: 50%;*/
    }
}

/* ================================= 
    ReactCSSTransitionGroup Classes
==================================== */

/* start enter state */


/* end enter state */


/* start leave state */


/* end leave state */


/* initial mounting */
